In [1]:
from recommender_class import Recommender

In [2]:
r = Recommender('barcelona', 'bmw', 'custom', 2000, 30)

In [3]:
r.recommender()

,city,brand,model,type,color,km,year,price,url,total_metric_pond
8293,barcelona,bmw,r_1200_c_classic,custom,azul,27000.0,2000,7500,http://motos.net/ocasion/bmw/r_1200_c_classic/...,0.0
10658,barcelona,bmw,r_1200_c_classic,custom,beige,114000.0,1999,8790,http://motos.net/ocasion/bmw/r_1200_c_classic/...,0.1
10764,barcelona,bmw,r_1200_c,custom,not specified,56000.0,1998,7850,http://motos.net/ocasion/bmw/r_1200_c/1998-en-...,0.2
11325,barcelona,bmw,r_1200_c_independent,custom,beige y azul marino,49000.0,2004,8000,http://motos.net/ocasion/bmw/r_1200_c_independ...,0.4
8232,barcelona,bmw,r_1200_c_montauk,custom,negro,21000.0,2004,10500,http://motos.net/ocasion/bmw/r_1200_c_montauk/...,0.4
11946,barcelona,bmw,r_1100_r,naked,not specified,124000.0,2000,2750,http://motos.net/ocasion/bmw/r_1100_r/2000-en-...,8.0
10873,barcelona,bmw,r_850_r,naked,negre,111000.0,2000,2500,http://motos.net/ocasion/bmw/r_850_r/2000-en-b...,8.0
11016,barcelona,bmw,r_1100_r,naked,gris grafito,81000.0,1999,3000,http://motos.net/ocasion/bmw/r_1100_r/1999-en-...,8.1
10763,barcelona,bmw,r_1150_r,naked,granate,62000.0,2002,4500,http://motos.net/ocasion/bmw/r_1150_r/2002-en-...,8.2
8879,barcelona,bmw,r_1150_r,naked,not specified,80904.0,2002,4500,http://motos.net/ocasion/bmw/r_1150_r/2002-en-...,8.2
10720,barcelona,bmw,r_850_r,naked,plata,79080.0,1998,2850,http://motos.net/ocasion/bmw/r_850_r/1998-en-b...,8.2
9608,barcelona,bmw,r_1100_r,naked,granate,125000.0,1998,3000,http://motos.net/ocasion/bmw/r_1100_r/1998-en-...,8.2
11149,barcelona,bmw,r_1100_r,naked,verde,103000.0,1998,3000,http://motos.net/ocasion/bmw/r_1100_r/1998-en-...,8.2
11370,barcelona,bmw,r_850_r,naked,plata,90000.0,2002,3100,http://motos.net/ocasion/bmw/r_850_r/2002-en-b...,8.2
7854,barcelona,bmw,r_1150_r,naked,rojo,32879.0,2003,5190,http://motos.net/ocasion/bmw/r_1150_r/2003-en-...,8.3
9792,barcelona,bmw,r_850_r,naked,gris,72000.0,2003,5000,http://motos.net/ocasion/bmw/r_850_r/2003-en-b...,8.3
10753,barcelona,bmw,r_1100_r,naked,verde,59000.0,1997,3300,http://motos.net/ocasion/bmw/r_1100_r/1997-en-...,8.3
8114,barcelona,bmw,r_850_r,naked,azul,45000.0,1997,3500,http://motos.net/ocasion/bmw/r_850_r/1997-en-b...,8.3
9024,barcelona,bmw,r_1150_r,naked,negro,29900.0,2003,4900,http://motos.net/ocasion/bmw/r_1150_r/2003-en-...,8.3
8101,barcelona,bmw,r_1150_r,naked,negro,46500.0,2003,4250,http://motos.net/ocasion/bmw/r_1150_r/2003-en-...,8.3
8029,barcelona,bmw,r_850_r,naked,plata,81200.0,2003,4800,http://motos.net/ocasion/bmw/r_850_r/2003-en-b...,8.3
10697,barcelona,bmw,r_1150_r,naked,azul,107000.0,2003,3800,http://motos.net/ocasion/bmw/r_1150_r/2003-en-...,8.3
9397,barcelona,bmw,r_850_r,naked,gris,79000.0,2004,4250,http://motos.net/ocasion/bmw/r_850_r/2004-en-b...,8.4
11694,barcelona,bmw,r_850_r,naked,not specified,145000.0,2004,3000,http://motos.net/ocasion/bmw/r_850_r/2004-en-b...,8.4
11489,barcelona,bmw,r_850_r,naked,gris plata,89000.0,2004,4500,http://motos.net/ocasion/bmw/r_850_r/2004-en-b...,8.4
8371,barcelona,bmw,r_1150_r,naked,negro,54000.0,2004,4900,http://motos.net/ocasion/bmw/r_1150_r/2004-en-...,8.4
11671,barcelona,bmw,r_850_r,naked,plata,66000.0,2005,4000,http://motos.net/ocasion/bmw/r_850_r/2005-en-b...,8.5
11121,barcelona,bmw,r_1150_r,naked,gris metalizado,125000.0,2005,3300,http://motos.net/ocasion/bmw/r_1150_r/2005-en-...,8.5
9095,barcelona,bmw,r_850_r,naked,plata,66000.0,2005,4250,http://motos.net/ocasion/bmw/r_850_r/2005-en-b...,8.5
10862,barcelona,bmw,k_1200_r,naked,negra,35000.0,2005,6000,http://motos.net/ocasion/bmw/k_1200_r/2005-en-...,8.5

In [5]:
r.recommender().values.tolist()

[[u'barcelona',
  u'bmw',
  u'r_1200_c_classic',
  u'custom',
  u'azul',
  27000.0,
  2000L,
  7500L,
  u'http://motos.net/ocasion/bmw/r_1200_c_classic/2000-en-barcelona-6451614.htm',
  0.0],
 [u'barcelona',
  u'bmw',
  u'r_1200_c_classic',
  u'custom',
  u'beige',
  114000.0,
  1999L,
  8790L,
  u'http://motos.net/ocasion/bmw/r_1200_c_classic/1999-en-barcelona-6399376.htm',
  0.1],
 [u'barcelona',
  u'bmw',
  u'r_1200_c',
  u'custom',
  u'not specified',
  56000.0,
  1998L,
  7850L,
  u'http://motos.net/ocasion/bmw/r_1200_c/1998-en-barcelona-6395729.htm',
  0.2],
 [u'barcelona',
  u'bmw',
  u'r_1200_c_independent',
  u'custom',
  u'beige y azul marino',
  49000.0,
  2004L,
  8000L,
  u'http://motos.net/ocasion/bmw/r_1200_c_independent/2004-en-barcelona-6369401.htm',
  0.4],
 [u'barcelona',
  u'bmw',
  u'r_1200_c_montauk',
  u'custom',
  u'negro',
  21000.0,
  2004L,
  10500L,
  u'http://motos.net/ocasion/bmw/r_1200_c_montauk/2004-en-barcelona-6452494.htm',
  0.4],
 [u'barcelona',
  u'bmw',
  u'r_1100_r',
  u'naked',
  u'not specified',
  124000.0,
  2000L,
  2750L,
  u'http://motos.net/ocasion/bmw/r_1100_r/2000-en-barcelona-6377335.htm',
  8.0],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'negre',
  111000.0,
  2000L,
  2500L,
  u'http://motos.net/ocasion/bmw/r_850_r/2000-en-barcelona-6391489.htm',
  8.0],
 [u'barcelona',
  u'bmw',
  u'r_1100_r',
  u'naked',
  u'gris grafito',
  81000.0,
  1999L,
  3000L,
  u'http://motos.net/ocasion/bmw/r_1100_r/1999-en-barcelona-6386325.htm',
  8.1],
 [u'barcelona',
  u'bmw',
  u'r_1150_r',
  u'naked',
  u'granate',
  62000.0,
  2002L,
  4500L,
  u'http://motos.net/ocasion/bmw/r_1150_r/2002-en-barcelona-6395730.htm',
  8.2],
 [u'barcelona',
  u'bmw',
  u'r_1150_r',
  u'naked',
  u'not specified',
  80904.0,
  2002L,
  4500L,
  u'http://motos.net/ocasion/bmw/r_1150_r/2002-en-barcelona-6436092.htm',
  8.2],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'plata',
  79080.0,
  1998L,
  2850L,
  u'http://motos.net/ocasion/bmw/r_850_r/1998-en-barcelona-6397385.htm',
  8.2],
 [u'barcelona',
  u'bmw',
  u'r_1100_r',
  u'naked',
  u'granate',
  125000.0,
  1998L,
  3000L,
  u'http://motos.net/ocasion/bmw/r_1100_r/1998-en-barcelona-6428256.htm',
  8.2],
 [u'barcelona',
  u'bmw',
  u'r_1100_r',
  u'naked',
  u'verde',
  103000.0,
  1998L,
  3000L,
  u'http://motos.net/ocasion/bmw/r_1100_r/1998-en-barcelona-6380395.htm',
  8.2],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'plata',
  90000.0,
  2002L,
  3100L,
  u'http://motos.net/ocasion/bmw/r_850_r/2002-en-barcelona-6353897.htm',
  8.2],
 [u'barcelona',
  u'bmw',
  u'r_1150_r',
  u'naked',
  u'rojo',
  32879.0,
  2003L,
  5190L,
  u'http://motos.net/ocasion/bmw/r_1150_r/2003-en-barcelona-6438911.htm',
  8.3],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'gris',
  72000.0,
  2003L,
  5000L,
  u'http://motos.net/ocasion/bmw/r_850_r/2003-en-barcelona-6423950.htm',
  8.3],
 [u'barcelona',
  u'bmw',
  u'r_1100_r',
  u'naked',
  u'verde',
  59000.0,
  1997L,
  3300L,
  u'http://motos.net/ocasion/bmw/r_1100_r/1997-en-barcelona-6396279.htm',
  8.3],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'azul',
  45000.0,
  1997L,
  3500L,
  u'http://motos.net/ocasion/bmw/r_850_r/1997-en-barcelona-6298994.htm',
  8.3],
 [u'barcelona',
  u'bmw',
  u'r_1150_r',
  u'naked',
  u'negro',
  29900.0,
  2003L,
  4900L,
  u'http://motos.net/ocasion/bmw/r_1150_r/2003-en-barcelona-6421142.htm',
  8.3],
 [u'barcelona',
  u'bmw',
  u'r_1150_r',
  u'naked',
  u'negro',
  46500.0,
  2003L,
  4250L,
  u'http://motos.net/ocasion/bmw/r_1150_r/2003-en-barcelona-6453893.htm',
  8.3],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'plata',
  81200.0,
  2003L,
  4800L,
  u'http://motos.net/ocasion/bmw/r_850_r/2003-en-barcelona-6443905.htm',
  8.3],
 [u'barcelona',
  u'bmw',
  u'r_1150_r',
  u'naked',
  u'azul',
  107000.0,
  2003L,
  3800L,
  u'http://motos.net/ocasion/bmw/r_1150_r/2003-en-barcelona-6398301.htm',
  8.3],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'gris',
  79000.0,
  2004L,
  4250L,
  u'http://motos.net/ocasion/bmw/r_850_r/2004-en-barcelona-6433243.htm',
  8.4],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'not specified',
  145000.0,
  2004L,
  3000L,
  u'http://motos.net/ocasion/bmw/r_850_r/2004-en-barcelona-6428906.htm',
  8.4],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'gris plata',
  89000.0,
  2004L,
  4500L,
  u'http://motos.net/ocasion/bmw/r_850_r/2004-en-barcelona-6465738.htm',
  8.4],
 [u'barcelona',
  u'bmw',
  u'r_1150_r',
  u'naked',
  u'negro',
  54000.0,
  2004L,
  4900L,
  u'http://motos.net/ocasion/bmw/r_1150_r/2004-en-barcelona-6450313.htm',
  8.4],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'plata',
  66000.0,
  2005L,
  4000L,
  u'http://motos.net/ocasion/bmw/r_850_r/2005-en-barcelona-6433815.htm',
  8.5],
 [u'barcelona',
  u'bmw',
  u'r_1150_r',
  u'naked',
  u'gris metalizado',
  125000.0,
  2005L,
  3300L,
  u'http://motos.net/ocasion/bmw/r_1150_r/2005-en-barcelona-6381676.htm',
  8.5],
 [u'barcelona',
  u'bmw',
  u'r_850_r',
  u'naked',
  u'plata',
  66000.0,
  2005L,
  4250L,
  u'http://motos.net/ocasion/bmw/r_850_r/2005-en-barcelona-6439521.htm',
  8.5],
 [u'barcelona',
  u'bmw',
  u'k_1200_r',
  u'naked',
  u'negra',
  35000.0,
  2005L,
  6000L,
  u'http://motos.net/ocasion/bmw/k_1200_r/2005-en-barcelona-6392049.htm',
  8.5]]

In [4]:
import pandas as pd
df_motos_raw = pd.read_csv('scraped_data/motos_raw_data.csv', sep=';')
df_motos_raw.shape

(26511, 10)

In [5]:
df_motos_raw['color'].fillna('not specified', inplace=True)

In [6]:
df_motos_raw.shape

(26511, 10)

Data cleaning

In [7]:
# Convert the dataframe to lower case
df_motos_raw = df_motos_raw.apply(lambda x: x.astype(str).str.lower())

In [8]:
#Join the words in the 'model' and 'type' fields with an underscore
df_motos_raw['model'] = df_motos_raw['model'].str.replace(' ', '_')
df_motos_raw['type'] = df_motos_raw['type'].str.replace(' ', '_')

In [9]:
# Looking for duplicates
df_motos_raw['is_duplicated'] = df_motos_raw.duplicated()
duplicates = df_motos_raw['is_duplicated'].sum()
print '%d duplicates' %duplicates

93 duplicates

In [10]:
# Removing duplicates and delete 'is_duplicated' column
df_motos_raw = df_motos_raw.loc[df_motos_raw['is_duplicated']==False]
df_motos_raw = df_motos_raw.drop('is_duplicated', 1)
df_motos_raw.shape

(26418, 10)

In [11]:
# Lets investigate column by column the NaNs we have in the dataframe
for column in df_motos_raw.columns:
    n_nan = df_motos_raw[column]=='nan'
    print column + " %d -- > %f" %(n_nan.sum(), (n_nan.sum()*1.0)/df_motos_raw.shape[0]*100)

city 0 -- > 0.000000
brand 0 -- > 0.000000
model 0 -- > 0.000000
type 0 -- > 0.000000
cc 95 -- > 0.359603
color 0 -- > 0.000000
km 1631 -- > 6.173821
year 0 -- > 0.000000
price 0 -- > 0.000000
url 0 -- > 0.000000

In [12]:
# Lets investigate the unique values we have in the columns
for column in ['city', 'brand', 'model', 'type', 'color', 'year']:
    column_uv = df_motos_raw[column].unique()
    print column + " --> " + "%d unique values" %len(sorted(column_uv))

city --> 52 unique values
brand --> 148 unique values
model --> 3011 unique values
type --> 15 unique values
color --> 1923 unique values
year --> 48 unique values

Merge some data

In [13]:
#In order to calculate our first metric, we will use the following columns:
# "lon" and "lat" : These are the longitude and latitude of the corresponding city. We will add them later.
# "brand", "model", "type", "year"

In [14]:
# Calculating the longitude and latitude of the cities
import geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [15]:
cities = df_motos_raw['city'].unique()
locations_rows = []
for city in cities:
    location = geolocator.geocode([city], timeout = 15)
    locations_rows.append([city, location.latitude, location.longitude])
#Save into a csv
df_locations = pd.DataFrame(locations_rows, columns = ['city', 'lat', 'lon'])
#df_locations.to_csv('auxiliary_data/locations_coords.csv', index = False)

In [16]:
df_locations.head(3)

      city        lat       lon
0   madrid  40.416705 -3.703582
1  navarra  42.612549 -1.830791
2  granada  37.183020 -3.602192

In [17]:
# Merge df_locations with df_motos_raw
df_motos_raw_coord = pd.merge(df_motos_raw, df_locations, on = 'city')
#Save into a csv
#df_motos_raw_coord.to_csv('df_motos_raw_coord.csv', index = False)

In [93]:
# We have created two csv files with a rank for the motos brands and types
# called rank_motos_brands.csv and rank_motos_types.csv

# With the first one, rank_motos_brands.csv, we are gint to create another  column, with a score to the corresponding brand
df_rank_moto_brand = pd.read_csv('scraped_data/rank_moto_brands.csv', sep=';')
df_motos_raw_coord_brand = pd.merge(df_motos_raw_coord, df_rank_moto_brand, on = 'brand', how = 'left')
#If the brand does not exist, the rank value will be zero
#!!OJO, AÑADIR MARCAS DE MOTOS QUE FALTAN ANTES DE PONER UN CERO!!!!!!!!!!!!!!!!!
df_motos_raw_coord_brand.brand_score.fillna(0, inplace=True)
# Save into a csv
df_motos_raw_coord_brand.to_csv('df_motos_coord_brand.csv', index = False)

# With the second one, rank_moto_types.csv, we are going to create another column, with a score to the corresponding type
df_rank_moto_type = pd.read_csv('auxiliary_data/rank_moto_types.csv', sep=';')
df_motos_raw_coord_brand_types = pd.merge(df_motos_raw_coord_brand, df_rank_moto_type, on = 'type', how = 'left')
#Save into a csv
df_motos_raw_coord_brand_types.to_csv('df_motos_raw_coord_brand_type.csv', index = False)

In [32]:
df_motos_raw_coord_brand_types.head(3)

,city,brand,model,type,cc,color,km,year,price,url,lat,lon,brand_score,type_score,city_metric,brand_metric,type_metric,year_metric,total_metric_pond
0,madrid,bmw,r_1200_gs,trail,1170.0,rojo,57400.0,2004,7490,http://motos.net/ocasion/bmw/r_1200_gs/2004-en...,40.416705,-3.703582,356.0,230,0.0,0,50,4,20.4
1,madrid,ducati,monster_696+,naked,696.0,blanco,18166.0,2011,5999,http://motos.net/ocasion/ducati/monster_696/20...,40.416705,-3.703582,473.0,260,0.0,117,20,11,55.9
2,madrid,kymco,super_dink_300i_abs,scooters_+125cc,299.0,blanco,9644.0,2011,3299,http://motos.net/ocasion/kymco/super_dink_300i...,40.416705,-3.703582,37.0,120,0.0,319,160,11,192.7

In [35]:
sorted(df_motos_raw_coord_brand_types.brand.unique())

['adly',
 'aeon',
 'aiyumo',
 'ajp',
 'alpina renania',
 'american ironhorse',
 'apollo orion',
 'aprilia',
 'arctic cat',
 'azel',
 'benelli',
 'beta',
 'big dog',
 'bimota',
 'bmw',
 'brammo',
 'brp',
 'btm',
 'buell',
 'bultaco',
 'cagiva',
 'can-am',
 'cfmoto',
 'chopper nation',
 'clipic',
 'cooltra',
 'cpi',
 'csr',
 'daelim',
 'dak',
 'derbi',
 'dh haotian',
 'dorton',
 'ducati',
 'e-max',
 'elmoto',
 'fantic',
 'fb mondial',
 'gas gas',
 'generic',
 'gilera',
 'goes',
 'govecs',
 'gowinn',
 'hammel',
 'hanway',
 'harley davidson',
 'hm',
 'honda',
 'hsun',
 'hudson boss',
 'husaberg',
 'husqvarna',
 'hyosung',
 'i-moto',
 'imr',
 'indian',
 'innocenti',
 'italjet',
 'jianshe',
 'jin lun',
 'jonway',
 'kangxin',
 'kawasaki',
 'keeway',
 'kenrod',
 'kinroad',
 'ksr moto',
 'ktm',
 'kymco',
 'lambretta',
 'lanvertti',
 'lectric',
 'lem',
 'lemev',
 'leonart',
 'lifan',
 'linhai',
 'lml',
 'macbor',
 'malaguti',
 'mash',
 'mbk',
 'mecatecno',
 'megelli',
 'mobilette',
 'monkey bike',
 'montesa',
 'moto guzzi',
 'moto morini',
 'motogac',
 'motor hispania',
 'mtm',
 'mtr',
 'muz',
 'mv agusta',
 'mxonda',
 'orcal',
 'orion',
 'oset',
 'ossa',
 'peugeot',
 'piaggio',
 'polini',
 'puch',
 'qingqi',
 'quadro',
 'rav',
 'rebel',
 'renault',
 'ridley motorcycles',
 'rieju',
 'riya',
 'roan',
 'royal enfield',
 'samada',
 'scomadi',
 'scorpa',
 'sherco',
 'sumco',
 'sumo',
 'suzuki',
 'sym',
 'tbq',
 'tgb',
 'tm',
 'torrot',
 'triumph',
 'ural',
 'vertigo',
 'vespa',
 'vespino',
 'via scooter',
 'victory',
 'vmoto',
 'vor',
 'wildlander',
 'wottan',
 'xingyue',
 'xmotos',
 'yamaha',
 'ycf',
 'young rider',
 'zero',
 'zero motorcycles',
 'zms motors',
 'znen',
 'zongshen']

In [21]:
# OK!, so we have a first version of the data we will use to recommend vehicles
# df_motos_raw_coord_brand_types
# Lets try to calculate the metric only with some fields. We are going to add these distances:
# cities distance, brand_distance, type_distance, year_distance
# We need to create some functions:

def cities_distance(city_lat, city_lon, user_lat, user_lon):
    """    
    :param city_lat: the value in the dataset's lat column to the corresponding city
    :param city_lon: the value in the dataset's lon column to the corresponding city
    :param user_lat: The corresponding lat value in the location dataset of the city selected by the user
    :param user_lon: The corresponding lon value in the location dataset of the city selected by the user
    
    :return: The value in kilometers of the distance between the two cities.
    
    Usage of the Vicenty distance
    """
    
    from geopy.distance import vincenty
    
    column_city = (city_lat, city_lon)
    user_city = (user_lat, user_lon)
    
    return (vincenty(column_city, user_city).km)

def distance_abs_value(a_value, b_value):
    return abs(a_value - b_value)

def w_s(city_row, brand_row, type_row, year_row):
    import numpy as np
    weigth = 100
    brand_weight = 40
    type_weight = 40
    year_weight = 10
    city_weight = 10
    
    params = np.array([city_row, brand_row, type_row, year_row])
    weights = np.array([city_weight, brand_weight, type_weight, year_weight])
    
    num = sum(params * weights) * 1.0
    return num/weigth

In [22]:
#Example of request of a user
user_request = ('madrid', 'bmw', 'custom', 2000)

# We need to calculate some variables:
user_lat = float(df_locations[df_locations['city'] == user_request[0]].lat)
user_lon = float(df_locations[df_locations['city'] == user_request[0]].lon)
user_brand = int(df_rank_moto_brand[df_rank_moto_brand['brand'] == user_request[1]].brand_score)
user_type = int(df_rank_moto_type[df_rank_moto_type['type'] == user_request[2]].type_score)
user_year = user_request[3]

user_vars = [user_brand, user_type, user_year]
score_columns = ['brand_score', 'type_score', 'year']

In [23]:
df_motos_raw_coord_brand_types['city_metric'] = df_motos_raw_coord_brand_types.apply(lambda row: cities_distance(row['lat'], row['lon'], user_lat, user_lon), axis=1)

for i, element in enumerate(['brand', 'type', 'year']):
    new_column = element + '_metric'
    print new_column, score_columns[i], user_vars[i]
    df_motos_raw_coord_brand_types[new_column] = df_motos_raw_coord_brand_types.apply(lambda row: distance_abs_value(int(row[score_columns[i]]), user_vars[i]), axis=1)
    
#!!! Revisar ranking de motos, falta alguna, por eso aparenden NAN en la columna brand_score al hacer el merge

df_motos_raw_coord_brand_types['total_metric_pond'] = df_motos_raw_coord_brand_types.apply(lambda row: w_s(row['city_metric'], row['brand_metric'], row['type_metric'], row['year_metric']), axis = 1)

brand_metric brand_score 356
type_metric type_score 280
year_metric year 2000

In [24]:
results = df_motos_raw_coord_brand_types.sort_values(by = ['total_metric_pond'], ascending=True)

In [25]:
results.head(10)

,city,brand,model,type,cc,color,km,year,price,url,lat,lon,brand_score,type_score,city_metric,brand_metric,type_metric,year_metric,total_metric_pond
4920,madrid,bmw,r_1200_c_classic,custom,1170.0,cobre,33000.0,2000,9800,http://motos.net/ocasion/bmw/r_1200_c_classic/...,40.416705,-3.703582,356.0,280,0.0,0,0,0,0.0
3496,madrid,bmw,r_1200_cl,custom,1170.0,gris,127700.0,2004,6500,http://motos.net/ocasion/bmw/r_1200_cl/2004-en...,40.416705,-3.703582,356.0,280,0.0,0,0,4,0.4
2538,madrid,bmw,r_1200_c_montauk,custom,1200.0,negro,31000.0,2004,8890,http://motos.net/ocasion/bmw/r_1200_c_montauk/...,40.416705,-3.703582,356.0,280,0.0,0,0,4,0.4
2363,madrid,bmw,r_1200_c,custom,1170.0,negro,16000.0,2004,9500,http://motos.net/ocasion/bmw/r_1200_c/2004-en-...,40.416705,-3.703582,356.0,280,0.0,0,0,4,0.4
567,madrid,bmw,r_1200_c_montauk,custom,1200.0,not specified,148000.0,2004,7300,http://motos.net/ocasion/bmw/r_1200_c_montauk/...,40.416705,-3.703582,356.0,280,0.0,0,0,4,0.4
5162,madrid,bmw,r_850_r,naked,848.0,not specified,45100.0,2000,2600,http://motos.net/ocasion/bmw/r_850_r/2000-en-m...,40.416705,-3.703582,356.0,260,0.0,0,20,0,8.0
3739,madrid,bmw,r_1150_r,naked,1130.0,not specified,115000.0,2001,4300,http://motos.net/ocasion/bmw/r_1150_r/2001-en-...,40.416705,-3.703582,356.0,260,0.0,0,20,1,8.1
4941,madrid,bmw,r_850_r,naked,848.0,negra-gris,135000.0,1998,3900,http://motos.net/ocasion/bmw/r_850_r/1998-en-m...,40.416705,-3.703582,356.0,260,0.0,0,20,2,8.2
3861,madrid,bmw,r_850_r,naked,848.0,burdeos,118000.0,1998,2900,http://motos.net/ocasion/bmw/r_850_r/1998-en-m...,40.416705,-3.703582,356.0,260,0.0,0,20,2,8.2
1175,madrid,bmw,r_850_r,naked,848.0,gris plomo metalizado,80000.0,1997,3900,http://motos.net/ocasion/bmw/r_850_r/1997-en-m...,40.416705,-3.703582,356.0,260,0.0,0,20,3,8.3

In [26]:
df_motos_raw_coord_brand_types.type.unique()

array(['trail', 'naked', 'scooters_+125cc', 'custom', 'sport', 'cross',
       'scooter_125cc', 'turismo', 'enduro', 'scooters_50cc',
       'supermotard', 'trial', 'ciclomotor', 'con_marchas', 'infantil'], dtype=object)

In [ ]:
df_motos_raw_coord_brand_types[df_motos_raw_coord_brand_types.type=='con_marchas']

In [ ]:
import pandas as pd
test = pd.read_csv('df_motos_raw_coord_brand_type.csv', sep=',', encoding = 'utf-8')

In [46]:
if df_rank_moto_brand[df_rank_moto_brand['brand'] == 'periquito'].brand_score.empty:
    print "none"

none

In [37]:
user_brand

19

In [51]:
brand_in_df_list = [(brand, 'N/A') for brand in sorted(df_motos_raw_coord_brand_types.brand.unique())]

In [54]:
df_brand_in_df_list = pd.DataFrame.from_records(brand_in_df_list, columns = ['brand', 'brand_score'])

In [56]:
df_brand_in_df_list.head(5)

            brand  brand_score
0            adly            0
1            aeon            0
2          aiyumo            0
3             ajp            0
4  alpina renania            0

In [59]:
df_rank_moto_brand.head()

             brand  brand_score
0           yamaha          646
1            honda          635
2           suzuki          580
3           ducati          473
4  harley davidson          434

In [57]:
df_rank_final = pd.merge(df_brand_in_df_list, df_rank_moto_brand, on = 'brand', how = 'left')

In [58]:
df_rank_final.head(5)

            brand  brand_score_x  brand_score_y
0            adly              0           19.0
1            aeon              0            NaN
2          aiyumo              0           10.0
3             ajp              0            NaN
4  alpina renania              0            NaN

In [96]:
rank_values = df_rank_moto_brand.values.tolist()
brands_rank_values =  df_rank_moto_brand.brand.values
for df_brand in brand_in_df_list:
    if df_brand[0] not in brands_rank_values:
        rank_values.append([df_brand[0],0])

In [98]:
rank_values

[['yamaha', 646L],
 ['honda', 635L],
 ['suzuki', 580L],
 ['ducati', 473L],
 ['harley davidson', 434L],
 ['kawasaki', 378L],
 ['bmw', 356L],
 ['ktm', 332L],
 ['aprilia', 205L],
 ['vespa', 144L],
 ['derbi', 120L],
 ['triumph', 120L],
 ['bultaco', 94L],
 ['gas-gas', 72L],
 ['gas gas', 72L],
 ['hyosung', 58L],
 ['sym', 46L],
 ['gilera', 42L],
 ['motor-hispania', 40L],
 ['husqvarna', 40L],
 ['hammel', 37L],
 ['kymco', 37L],
 ['mv-agusta', 36L],
 ['moto guzzi', 33L],
 ['buell', 30L],
 ['rieju', 26L],
 ['beta', 24L],
 ['benelli', 21L],
 ['daelim', 20L],
 ['keeway', 20L],
 ['sherco', 20L],
 ['jincheng', 20L],
 ['dh-haotian', 20L],
 ['alfer', 19L],
 ['bimota', 19L],
 ['adly', 19L],
 ['adly-moto', 19L],
 ['bombardier', 18L],
 ['piaggio', 16L],
 ['polini', 15L],
 ['linhai', 10L],
 ['meko', 10L],
 ['azel', 10L],
 ['muz', 10L],
 ['mbk', 10L],
 ['kenrod', 10L],
 ['macbor', 10L],
 ['sumco', 10L],
 ['clipic', 10L],
 ['aiyumo', 10L],
 ['generic', 10L],
 ['i-moto', 10L],
 ['huatian', 10L],
 ['goes', 10L],
 ['blata', 8L],
 ['malaguti', 8L],
 ['voxan', 8L],
 ['vor', 8L],
 ['victory', 8L],
 ['tgb', 8L],
 ['scorpa', 8L],
 ['sachs', 8L],
 ['moto tm', 8L],
 ['cagiva', 8L],
 ['csr', 8L],
 ['leonart', 8L],
 ['italjet', 8L],
 ['polaris', 8L],
 ['cpi', 8L],
 ['husaberg', 8L],
 ['emc-puch', 8L],
 ['peugeot', 3L],
 ['aeon', 0],
 ['ajp', 0],
 ['alpina renania', 0],
 ['american ironhorse', 0],
 ['apollo orion', 0],
 ['arctic cat', 0],
 ['big dog', 0],
 ['brammo', 0],
 ['brp', 0],
 ['btm', 0],
 ['can-am', 0],
 ['cfmoto', 0],
 ['chopper nation', 0],
 ['cooltra', 0],
 ['dak', 0],
 ['dh haotian', 0],
 ['dorton', 0],
 ['e-max', 0],
 ['elmoto', 0],
 ['fantic', 0],
 ['fb mondial', 0],
 ['govecs', 0],
 ['gowinn', 0],
 ['hanway', 0],
 ['hm', 0],
 ['hsun', 0],
 ['hudson boss', 0],
 ['imr', 0],
 ['indian', 0],
 ['innocenti', 0],
 ['jianshe', 0],
 ['jin lun', 0],
 ['jonway', 0],
 ['kangxin', 0],
 ['kinroad', 0],
 ['ksr moto', 0],
 ['lambretta', 0],
 ['lanvertti', 0],
 ['lectric', 0],
 ['lem', 0],
 ['lemev', 0],
 ['lifan', 0],
 ['lml', 0],
 ['mash', 0],
 ['mecatecno', 0],
 ['megelli', 0],
 ['mobilette', 0],
 ['monkey bike', 0],
 ['montesa', 0],
 ['moto morini', 0],
 ['motogac', 0],
 ['motor hispania', 0],
 ['mtm', 0],
 ['mtr', 0],
 ['mv agusta', 0],
 ['mxonda', 0],
 ['orcal', 0],
 ['orion', 0],
 ['oset', 0],
 ['ossa', 0],
 ['puch', 0],
 ['qingqi', 0],
 ['quadro', 0],
 ['rav', 0],
 ['rebel', 0],
 ['renault', 0],
 ['ridley motorcycles', 0],
 ['riya', 0],
 ['roan', 0],
 ['royal enfield', 0],
 ['samada', 0],
 ['scomadi', 0],
 ['sumo', 0],
 ['tbq', 0],
 ['tm', 0],
 ['torrot', 0],
 ['ural', 0],
 ['vertigo', 0],
 ['vespino', 0],
 ['via scooter', 0],
 ['vmoto', 0],
 ['wildlander', 0],
 ['wottan', 0],
 ['xingyue', 0],
 ['xmotos', 0],
 ['ycf', 0],
 ['young rider', 0],
 ['zero', 0],
 ['zero motorcycles', 0],
 ['zms motors', 0],
 ['znen', 0],
 ['zongshen', 0]]