# FINAL PROJECT - OCCASION VEHICLES PRICE ESTIMATOR
___
#### MASTER IN DATA SCIENCE - KSCHOOL - 2016/17
#### KOLDO PINA ORTIZ
____

## Motivation

The aim of the present work is to get a good estimator of the price of a second-hand vehicle, based on the prices of the second-hand market

## Action Plan

To reach our goal, we will follow the the next steps:

1. ***Scrape*** both websites, **motos.net** and **coches.net**, to obtain the ***data***.
2. ***Merge*** and ***clean*** the ***data***.
3. ***Train*** various models.
4. Compare the metrics and choose the model with the best one.
5. Create a flask web server with the app.

## Scrape

We are going to scrape each website separately.
To this end, we have developed two python scripts called ***scraper_motos.py*** and ***scrapers_coches.py***.
Both return a dataframe.

You can import them to the notebook.

In [1]:
from scraper_motos import scraper_motos

In [2]:
scraper_motos()

sub_url
http://motos.coches.net/ocasion/?pg=1&or=-1&fi=SortDate

,city,brand,model,type,cc,color,km,year,price
0,Girona,SUZUKI,BURGMAN 400 A,Scooters +125cc,400,,55000,2009,2800
1,Valencia,YAMAHA,XT 660 Z Tenere,Trail,650,azul y blanca,34000,1992,900
2,Asturias,MASH,FIVE HUNDRED 400,Naked,400,NEGRO,1700,2015,2700
3,Badajoz,APRILIA,RS 125,Sport,124,Roja blanca,34000,2008,2250
4,Baleares,HARLEY DAVIDSON,Touring Electra Glide Standard,Turismo,1340,NEGRA,89000,2004,11000
5,Madrid,TRIUMPH,STREET TRIPLE,Naked,675,Negra,22600,2008,4800
6,Valencia,YAMAHA,XT 660 R,Trail,660,,19860,2012,4600
7,Madrid,BMW,R 1200 S,Sport,1170,Negro,38000,2008,6500
8,Madrid,BMW,C 600 Sport,Scooters +125cc,647,azul,8000,2013,7250
9,Leon,YAMAHA,FZ1 N,Naked,998,negro,27814,2008,5250
10,Teruel,HARLEY DAVIDSON,Sportster 883 Custom,Custom,883,Negro,19000,2008,7000
11,A Coruna,BMW,R 1200 RT 110cv,Turismo,1170,NEGRO,17000,2009,13500
12,Malaga,BMW,R 1200 GS,Trail,1170,Gris Plata,42000,2013,14300
13,Murcia,YAMAHA,XJR 1300,Naked,1251,,23000,2016,10000
14,Zaragoza,HONDA,VTX 1800,Custom,1795,,40000,2003,7800
15,Valencia,HONDA,CB 600F HORNET,Naked,600,,46000,2006,2600
16,Murcia,KAWASAKI,VN 900 CLASSIC,Custom,903,NEGRO,17092,2008,5500
17,Madrid,KTM,1290 Super Duke GT,Naked,1301,OPORTUNIDAD...!!!,290,2017,15899
18,Madrid,HONDA,CB 650F ABS,Naked,649,,13000,2016,6999
19,Madrid,HONDA,CROSSRUNNER V4,Trail,782,,,2017,11899
20,Madrid,SUZUKI,GSX R600,Sport,599,,,2017,11499
21,Madrid,HONDA,CB 500 X,Trail,471,,,2017,6190
22,Madrid,SUZUKI,GSX-S750,Naked,749,,,2017,8499
23,Madrid,KAWASAKI,W 800,Naked,773,OPORTUNIDAD!!!!,8000,2013,5999
24,Madrid,SUZUKI,Bandit 1250 S ABS,Turismo,1255,,,2017,8790
25,Madrid,DUCATI,MONSTER 696+ Art ABS,Naked,696,OPORTUNIDAD..!!!!,25000,2014,6399
26,Madrid,KTM,1090 Adventure,Trail,1050,,,2017,12499
27,Madrid,DUCATI,MONSTER 796,Naked,796,,8000,2011,6999
28,Madrid,SUZUKI,Intruder M800,Custom,800,,,2017,7890
29,Madrid,SUZUKI,VanVan 125,Naked,125,,,2017,3799