# FINAL PROJECT - Second-hand motorcycles recommender
___
#### MASTER IN DATA SCIENCE - KSCHOOL - 2016/17
#### KOLDO PINA ORTIZ
____

## Motivation

The aim of the present work is to get a good recommender of a second-hand vehicle, based on the adds of a second-hand marketplace web site

## Action Plan

To reach our goal, we will follow the the next steps:

1. ***Scrape*** website, **motos.net** to obtain the ***data***.
2. ***Clean*** the ***data***.
2. ***Merge*** some ***data***.
3. ***Train*** various models.
4. Compare the metrics and choose the model with the best one.
5. Create a flask web server with the app.

## Scrape

We are going to scrape each website separately.
To this end, we have developed two python scripts called ***scraper_motos.py*** and ***scrapers_coches.py***.
Both return a dataframe.

You can import them to the notebook.

In [ ]:
%pwd

In [ ]:
%cd scrapers

In [ ]:
#Call the scraper_motos function to scrape motos.net and create a csv file with the raw data in scraped_data folder
#To do that we need to change our path
# %cd scrapers
# from scraper_motos import scraper_motos
# scraper_motos()

In [ ]:
#Start time: 2017-06-13 19:28:56.441707
#num_ads 26588
#End time: 2017-06-13 22:47:15.427469

In [1]:
import pandas as pd
df_motos_raw = pd.read_csv('scraped_data/test/motos_raw_data.csv')
df_motos_raw.shape

(26081, 10)

In [2]:
df_motos_raw.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>brand</th>
      <th>model</th>
      <th>type</th>
      <th>cc</th>
      <th>color</th>
      <th>km</th>
      <th>year</th>
      <th>price</th>
      <th>url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Granada</td>
      <td>TRIUMPH</td>
      <td>SPEED TRIPLE</td>
      <td>Naked</td>
      <td>1050.0</td>
      <td>Amarillo</td>
      <td>32000.0</td>
      <td>2006</td>
      <td>4500</td>
      <td>http://motos.net/ocasion/triumph/speed_triple/...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Vizcaya</td>
      <td>BMW</td>
      <td>R 1200 GS 98cv</td>
      <td>Trail</td>
      <td>1170.0</td>
      <td>Blanco</td>
      <td>74200.0</td>
      <td>2007</td>
      <td>8500</td>
      <td>http://motos.net/ocasion/bmw/r_1200_gs_98cv/20...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Asturias</td>
      <td>BMW</td>
      <td>R 1200 GS</td>
      <td>Trail</td>
      <td>1170.0</td>
      <td>Rojo</td>
      <td>79000.0</td>
      <td>2007</td>
      <td>7500</td>
      <td>http://motos.net/ocasion/bmw/r_1200_gs/2007-en...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Sevilla</td>
      <td>HARLEY DAVIDSON</td>
      <td>Sportster 883 XLH 53</td>
      <td>Custom</td>
      <td>883.0</td>
      <td>Negro</td>
      <td>22000.0</td>
      <td>2003</td>
      <td>3500</td>
      <td>http://motos.net/ocasion/harley_davidson/sport...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Valencia</td>
      <td>KYMCO</td>
      <td>Super Dink 125i</td>
      <td>Scooter 125cc</td>
      <td>125.0</td>
      <td>NaN</td>
      <td>33000.0</td>
      <td>2012</td>
      <td>1950</td>
      <td>http://motos.net/ocasion/kymco/super_dink_125i...</td>
    </tr>
  </tbody>
</table>
</div>

## Data cleaning

In [3]:
df_motos_raw['color'].fillna('not specified', inplace=True)

In [4]:
# Convert the dataframe to lower case
df_motos_raw = df_motos_raw.apply(lambda x: x.astype(str).str.lower())

In [5]:
#Join the words in the 'model' and 'type' fields with an underscorekoldo
df_motos_raw['model'] = df_motos_raw['model'].str.replace(' ', '_')
df_motos_raw['type'] = df_motos_raw['type'].str.replace(' ', '_')

In [6]:
# Looking for duplicates
df_motos_raw['is_duplicated'] = df_motos_raw.duplicated()
duplicates = df_motos_raw['is_duplicated'].sum()
print '%d duplicates' %duplicates

61 duplicates

In [7]:
# Removing duplicates and delete 'is_duplicated' column
df_motos_raw = df_motos_raw.loc[df_motos_raw['is_duplicated']==False]
df_motos_raw = df_motos_raw.drop('is_duplicated', 1)
df_motos_raw.shape

(26020, 10)

In [8]:
# Lets investigate column by column the NaNs we have in the dataframe
for column in df_motos_raw.columns:
    n_nan = df_motos_raw[column]=='nan'
    print column + " %d -- > %f" %(n_nan.sum(), (n_nan.sum()*1.0)/df_motos_raw.shape[0]*100)

city 0 -- > 0.000000
brand 0 -- > 0.000000
model 0 -- > 0.000000
type 0 -- > 0.000000
cc 97 -- > 0.372790
color 0 -- > 0.000000
km 1624 -- > 6.241353
year 0 -- > 0.000000
price 0 -- > 0.000000
url 0 -- > 0.000000

In [9]:
# Lets investigate the unique values we have in the columns
for column in ['city', 'brand', 'model', 'type', 'color', 'year']:
    column_uv = df_motos_raw[column].unique()
    print column + " --> " + "%d unique values" %len(sorted(column_uv))

city --> 52 unique values
brand --> 146 unique values
model --> 2989 unique values
type --> 15 unique values
color --> 1932 unique values
year --> 48 unique values

## Merge some data

In [10]:
#In order to calculate our first metric, we will use the following columns:
# "lon" and "lat" : These are the longitude and latitude of the corresponding city. We will add them later.
# "brand", "model", "type", "year"

In [11]:
# Calculating the longitude and latitude of the cities
import geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [12]:
cities = df_motos_raw['city'].unique()
locations_rows = []
for city in cities:
    location = geolocator.geocode([city], timeout = 15)
    locations_rows.append([city, location.latitude, location.longitude])
#Save into a csv
df_locations = pd.DataFrame(locations_rows, columns = ['city', 'lat', 'lon'])
df_locations.to_csv('auxiliary_data/locations_coords.csv', index = False)

In [13]:
df_locations.head(3)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>lat</th>
      <th>lon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>granada</td>
      <td>37.183020</td>
      <td>-3.602192</td>
    </tr>
    <tr>
      <th>1</th>
      <td>vizcaya</td>
      <td>43.238264</td>
      <td>-2.852208</td>
    </tr>
    <tr>
      <th>2</th>
      <td>asturias</td>
      <td>43.271563</td>
      <td>-5.853947</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
# Merge df_locations with df_motos_raw
df_motos_raw_coord = pd.merge(df_motos_raw, df_locations, on = 'city')
#Save into a csv
df_motos_raw_coord.to_csv('df_motos_raw_coord.csv', index = False)

In [16]:
#We have scraped a web to obtain a simple brand rank. 
#We have it in the fodler named scraped_data and is called rank_moto_brands.csv
#Nevertheless, not all the brands in the adds appear in it. So, first of all, we are going to add the ones that are missing.
brands_in_df_list = df_motos_raw_coord.brand.unique()
df_rank_moto_brand = pd.read_csv('scraped_data/rank_moto_brands.csv', sep=';')
rank_values = df_rank_moto_brand.values.tolist()
brands_rank_values =  df_rank_moto_brand.brand.values
for df_brand in brands_in_df_list:
    if df_brand not in brands_rank_values:
        rank_values.append([df_brand,0])
df = pd.DataFrame(rank_values, columns=['brand', 'brand_score'])
df.to_csv('auxiliary_data/rank_moto_brands.csv',  sep = ';', index=False)

In [18]:
# We have created two csv files with a rank for the motos brands and types
# called rank_motos_brands.csv and rank_motos_types.csv

# With the first one, rank_motos_brands.csv, we are gint to create another  column, with a score to the corresponding brand
df_rank_moto_brand = pd.read_csv('auxiliary_data/rank_moto_brands.csv', sep=';')
df_motos_raw_coord_brand = pd.merge(df_motos_raw_coord, df_rank_moto_brand, on = 'brand', how = 'left')
df_motos_raw_coord_brand.brand_score.fillna(0, inplace=True)
# Save into a csv
df_motos_raw_coord_brand.to_csv('df_motos_coord_brand.csv', index = False)

# With the second one, rank_moto_types.csv, we are going to create another column, with a score to the corresponding type
df_rank_moto_type = pd.read_csv('auxiliary_data/rank_moto_types.csv', sep=';')
df_motos_raw_coord_brand_types = pd.merge(df_motos_raw_coord_brand, df_rank_moto_type, on = 'type', how = 'left')
#Save into a csv
df_motos_raw_coord_brand_types.to_csv('df_motos_raw_coord_brand_type.csv', index = False)

In [19]:
df_motos_raw_coord_brand_types.head(3)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>brand</th>
      <th>model</th>
      <th>type</th>
      <th>cc</th>
      <th>color</th>
      <th>km</th>
      <th>year</th>
      <th>price</th>
      <th>url</th>
      <th>lat</th>
      <th>lon</th>
      <th>brand_score</th>
      <th>type_score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>granada</td>
      <td>triumph</td>
      <td>speed_triple</td>
      <td>naked</td>
      <td>1050.0</td>
      <td>amarillo</td>
      <td>32000.0</td>
      <td>2006</td>
      <td>4500</td>
      <td>http://motos.net/ocasion/triumph/speed_triple/...</td>
      <td>37.18302</td>
      <td>-3.602192</td>
      <td>120</td>
      <td>260</td>
    </tr>
    <tr>
      <th>1</th>
      <td>granada</td>
      <td>triumph</td>
      <td>tiger_800</td>
      <td>trail</td>
      <td>799.0</td>
      <td>negro</td>
      <td>39200.0</td>
      <td>2011</td>
      <td>6200</td>
      <td>http://motos.net/ocasion/triumph/tiger_800/201...</td>
      <td>37.18302</td>
      <td>-3.602192</td>
      <td>120</td>
      <td>230</td>
    </tr>
    <tr>
      <th>2</th>
      <td>granada</td>
      <td>kawasaki</td>
      <td>vn_900_classic_special_edition</td>
      <td>custom</td>
      <td>903.0</td>
      <td>negro</td>
      <td>32000.0</td>
      <td>2011</td>
      <td>5000</td>
      <td>http://motos.net/ocasion/kawasaki/vn_900_class...</td>
      <td>37.18302</td>
      <td>-3.602192</td>
      <td>378</td>
      <td>280</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
df_motos_raw_coord_brand_types.shape

(26020, 14)

In [21]:
# OK!, so we have a first version of the data we will use to recommend vehicles
# df_motos_raw_coord_brand_types
# Lets try to calculate the metric only with some fields. We are going to add these distances:
# cities distance, brand_distance, type_distance, year_distance
# We need to create some functions:

def cities_distance(city_lat, city_lon, user_lat, user_lon):
    """    
    :param city_lat: the value in the dataset's lat column to the corresponding city
    :param city_lon: the value in the dataset's lon column to the corresponding city
    :param user_lat: The corresponding lat value in the location dataset of the city selected by the user
    :param user_lon: The corresponding lon value in the location dataset of the city selected by the user
    
    :return: The value in kilometers of the distance between the two cities.
    
    Usage of the Vicenty distance
    """
    
    from geopy.distance import vincenty
    
    column_city = (city_lat, city_lon)
    user_city = (user_lat, user_lon)
    
    return (vincenty(column_city, user_city).km)

def distance_abs_value(a_value, b_value):
    return abs(a_value - b_value)

def w_s(city_row, brand_row, type_row, year_row):
    import numpy as np
    weigth = 100
    brand_weight = 40
    type_weight = 40
    year_weight = 10
    city_weight = 10
    
    params = np.array([city_row, brand_row, type_row, year_row])
    weights = np.array([city_weight, brand_weight, type_weight, year_weight])
    
    num = sum(params * weights) * 1.0
    return num/weigth

In [26]:
#Example of request of a user
user_request = ('madrid', 'bmw', 'custom', 2000)

# We need to calculate some variables:
user_lat = float(df_locations[df_locations['city'] == user_request[0]].lat)
user_lon = float(df_locations[df_locations['city'] == user_request[0]].lon)
user_brand = int(df_rank_moto_brand[df_rank_moto_brand['brand'] == user_request[1]].brand_score)
user_type = int(df_rank_moto_type[df_rank_moto_type['type'] == user_request[2]].type_score)
user_year = user_request[3]

user_vars = [user_brand, user_type, user_year]
score_columns = ['brand_score', 'type_score', 'year']

In [28]:
df_motos_raw_coord_brand_types['city_metric'] = df_motos_raw_coord_brand_types.apply(lambda row: cities_distance(row['lat'], row['lon'], user_lat, user_lon), axis=1)

for i, element in enumerate(['brand', 'type', 'year']):
    new_column = element + '_metric'
    print new_column, score_columns[i], user_vars[i]
    df_motos_raw_coord_brand_types[new_column] = df_motos_raw_coord_brand_types.apply(lambda row: distance_abs_value(int(row[score_columns[i]]), user_vars[i]), axis=1)
    
#!!! Revisar ranking de motos, falta alguna, por eso aparenden NAN en la columna brand_score al hacer el merge

df_motos_raw_coord_brand_types['total_metric_pond'] = df_motos_raw_coord_brand_types.apply(lambda row: w_s(row['city_metric'], row['brand_metric'], row['type_metric'], row['year_metric']), axis = 1)

brand_metric brand_score 356

type_metric type_score 280

year_metric year 2000

In [29]:
results = df_motos_raw_coord_brand_types.sort_values(by = ['total_metric_pond'], ascending=True)

In [30]:
results.head(5)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>brand</th>
      <th>model</th>
      <th>type</th>
      <th>cc</th>
      <th>color</th>
      <th>km</th>
      <th>year</th>
      <th>price</th>
      <th>url</th>
      <th>lat</th>
      <th>lon</th>
      <th>brand_score</th>
      <th>type_score</th>
      <th>city_metric</th>
      <th>brand_metric</th>
      <th>type_metric</th>
      <th>year_metric</th>
      <th>total_metric_pond</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15040</th>
      <td>madrid</td>
      <td>bmw</td>
      <td>r_1200_c_classic</td>
      <td>custom</td>
      <td>1170.0</td>
      <td>cobre</td>
      <td>33000.0</td>
      <td>2000</td>
      <td>9800</td>
      <td>http://motos.net/ocasion/bmw/r_1200_c_classic/...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
      <td>356</td>
      <td>280</td>
      <td>0.0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>11571</th>
      <td>madrid</td>
      <td>bmw</td>
      <td>r_1200_c_montauk</td>
      <td>custom</td>
      <td>1200.0</td>
      <td>negro</td>
      <td>31000.0</td>
      <td>2004</td>
      <td>8590</td>
      <td>http://motos.net/ocasion/bmw/r_1200_c_montauk/...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
      <td>356</td>
      <td>280</td>
      <td>0.0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>0.4</td>
    </tr>
    <tr>
      <th>11290</th>
      <td>madrid</td>
      <td>bmw</td>
      <td>r_1200_c_montauk</td>
      <td>custom</td>
      <td>1200.0</td>
      <td>not specified</td>
      <td>148000.0</td>
      <td>2004</td>
      <td>7400</td>
      <td>http://motos.net/ocasion/bmw/r_1200_c_montauk/...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
      <td>356</td>
      <td>280</td>
      <td>0.0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>0.4</td>
    </tr>
    <tr>
      <th>12470</th>
      <td>madrid</td>
      <td>bmw</td>
      <td>r_1200_cl</td>
      <td>custom</td>
      <td>1170.0</td>
      <td>gris</td>
      <td>127700.0</td>
      <td>2004</td>
      <td>6800</td>
      <td>http://motos.net/ocasion/bmw/r_1200_cl/2004-en...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
      <td>356</td>
      <td>280</td>
      <td>0.0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>0.4</td>
    </tr>
    <tr>
      <th>15552</th>
      <td>madrid</td>
      <td>bmw</td>
      <td>r_850_r</td>
      <td>naked</td>
      <td>848.0</td>
      <td>not specified</td>
      <td>45100.0</td>
      <td>2000</td>
      <td>2600</td>
      <td>http://motos.net/ocasion/bmw/r_850_r/2000-en-m...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
      <td>356</td>
      <td>260</td>
      <td>0.0</td>
      <td>0</td>
      <td>20</td>
      <td>0</td>
      <td>8.0</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
brand_null = df_motos_raw_coord_brand_types[df_motos_raw_coord_brand_types['brand_score'].isnull()]

In [ ]:
for element in brand_null.brand.unique():
    print element

In [ ]:
import numpy as np

params = np.array([2, 4, 10, 2])
weights = np.array([10, 40, 40, 10])

In [ ]:
sum(params * weights)