# FINAL PROJECT - Second-hand motorcycles recommender
___
#### MASTER IN DATA SCIENCE - KSCHOOL - 2016/17
#### KOLDO PINA ORTIZ
____

## Motivation

The aim of the present work is to get a good recommender of a second-hand vehicle, based on the adds of a second-hand marketplace web site

## Action Plan

To reach our goal, we will follow the the next steps:

1. ***Scrape*** website, **motos.net** to obtain the ***data***.
2. ***Clean*** the ***data***.
2. ***Merge*** some ***data***.
3. ***Train*** various models.
4. Compare the metrics and choose the model with the best one.
5. Create a flask web server with the app.

## Scraping...

The first thing we need to do is get the data from the web site. The web site we are goint to scrape is [http://www.motos.net](http://www.motos.net).
So, to do this we have created a program called <span style="color:orange">**scraper_motos.py**</span> that is in the folder <span style="color:73b113">**scrapers**</span>. 
This scraper program runs through all motorcycle ads capturing features. At the end it creates a csv archive with all data, and places it in the folder <span style="color:73b113">**scraped_data**</span> with the name <span style="color:dba368">**motos_raw_data.csv**</span>

Ok. So we already have the most important part of the data we are going to need.
In addition to this, we have also created another scraper that obtains a first ranking, based on the votes of users, of motorcycle brands. This new scraper program is called <span style="color:orange">**scraper_moto_brands_rank.py**</span> and it is located in the folder <span style="color:73b113">**scrapers**</span>. This scraper obtain the data from [http://en.classora.com/reports/f87259/ranking-of-the-best-motorcycle-brands?id=872&groupCount=50&startIndex=1](http://en.classora.com/reports/f87259/ranking-of-the-best-motorcycle-brands?id=872&groupCount=50&startIndex=1). The obtained data is placed in the folder <span style="color:73b113">**scraped_data**</span> with the name <span style="color:dba368">**rank_moto_brands.csv**</span>


This is an example of running <span style="color:orange">**scraper_motos**</span>
```python
from scraper_motos import scraper_motos
scraper_motos()

Start time: 2017-06-13 19:28:56.441707
num_ads 26588
End time: 2017-06-13 22:47:15.427469
```

So, let's take a look at the data...

In [1]:
import pandas as pd
df_motos_raw = pd.read_csv('scraped_data/motos_raw_data.csv', sep=';')
df_rank_moto_brands = pd.read_csv('scraped_data/rank_moto_brands.csv', sep=';')

In [4]:
df_motos_raw.shape

(26511, 10)

In [5]:
df_motos_raw.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>brand</th>
      <th>model</th>
      <th>type</th>
      <th>cc</th>
      <th>color</th>
      <th>km</th>
      <th>year</th>
      <th>price</th>
      <th>url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Madrid</td>
      <td>BMW</td>
      <td>R 1200 GS</td>
      <td>Trail</td>
      <td>1170.0</td>
      <td>ROJO</td>
      <td>57400.0</td>
      <td>2004</td>
      <td>7490</td>
      <td>http://motos.net/ocasion/bmw/r_1200_gs/2004-en...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Navarra</td>
      <td>KYMCO</td>
      <td>Agility 125</td>
      <td>Scooter 125cc</td>
      <td>125.0</td>
      <td>NaN</td>
      <td>7000.0</td>
      <td>2014</td>
      <td>1600</td>
      <td>http://motos.net/ocasion/kymco/agility_125/201...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Navarra</td>
      <td>KTM</td>
      <td>390 Duke</td>
      <td>Naked</td>
      <td>375.0</td>
      <td>NaN</td>
      <td>9400.0</td>
      <td>2014</td>
      <td>4700</td>
      <td>http://motos.net/ocasion/ktm/390_duke/2014-en-...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Navarra</td>
      <td>HONDA</td>
      <td>CBR 125R</td>
      <td>Sport</td>
      <td>125.0</td>
      <td>NaN</td>
      <td>2100.0</td>
      <td>2014</td>
      <td>2800</td>
      <td>http://motos.net/ocasion/honda/cbr_125r/2014-e...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Granada</td>
      <td>SUZUKI</td>
      <td>BURGMAN 250</td>
      <td>Scooters +125cc</td>
      <td>250.0</td>
      <td>NaN</td>
      <td>57000.0</td>
      <td>2006</td>
      <td>1300</td>
      <td>http://motos.net/ocasion/suzuki/burgman_250/20...</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
df_rank_moto_brands.shape

(72, 2)

In [7]:
df_rank_moto_brands.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>brand</th>
      <th>brand_score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>yamaha</td>
      <td>646</td>
    </tr>
    <tr>
      <th>1</th>
      <td>honda</td>
      <td>635</td>
    </tr>
    <tr>
      <th>2</th>
      <td>suzuki</td>
      <td>580</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ducati</td>
      <td>473</td>
    </tr>
    <tr>
      <th>4</th>
      <td>harley davidson</td>
      <td>434</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
df_rank_moto_brands.tail()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>brand</th>
      <th>brand_score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>67</th>
      <td>polaris</td>
      <td>8</td>
    </tr>
    <tr>
      <th>68</th>
      <td>cpi</td>
      <td>8</td>
    </tr>
    <tr>
      <th>69</th>
      <td>husaberg</td>
      <td>8</td>
    </tr>
    <tr>
      <th>70</th>
      <td>emc-puch</td>
      <td>8</td>
    </tr>
    <tr>
      <th>71</th>
      <td>peugeot</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>

## Cleaning, transforming and loading...

Our first step will be to replace the NAN registers that appear in the color column by the words "not specified" that is a little more elegant.

In [9]:
df_motos_raw['color'].fillna('not specified', inplace=True)

Now we are going to convert the dataframe to lower case

In [10]:
df_motos_raw = df_motos_raw.apply(lambda x: x.astype(str).str.lower())

And now we are going to join the words in the *model* and *type* fields with an underscore symbol.

In [11]:
df_motos_raw['model'] = df_motos_raw['model'].str.replace(' ', '_')
df_motos_raw['type'] = df_motos_raw['type'].str.replace(' ', '_')

The next thing to do is to find duplicates and delete them.

In [12]:
# Looking for duplicates
df_motos_raw['is_duplicated'] = df_motos_raw.duplicated()
duplicates = df_motos_raw['is_duplicated'].sum()
print '%d duplicates' %duplicates

93 duplicates

In [13]:
# Removing duplicates and delete 'is_duplicated' column
df_motos_raw = df_motos_raw.loc[df_motos_raw['is_duplicated']==False]
df_motos_raw = df_motos_raw.drop('is_duplicated', 1)
df_motos_raw.shape

(26418, 10)

The next thing we are going to do is build our database of motorcycle ads in a csv file.

To do this, we start adding two new columns to the dataframe: lon (longitude) and lat (latitude) of the corresponding city.
We are going to use the geopy library

In [14]:
# Calculating the longitude and latitude of the cities
import geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [15]:
cities = df_motos_raw['city'].unique()
locations_rows = []
for city in cities:
    location = geolocator.geocode([city], timeout = 15)
    locations_rows.append([city, location.latitude, location.longitude])
#create a dataframe with the location data
df_locations = pd.DataFrame(locations_rows, columns = ['city', 'lat', 'lon'])

In [16]:
# Merge df_locations with df_motos_raw
df_motos_raw_coord = pd.merge(df_motos_raw, df_locations, on = 'city')

In [17]:
df_motos_raw_coord.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>brand</th>
      <th>model</th>
      <th>type</th>
      <th>cc</th>
      <th>color</th>
      <th>km</th>
      <th>year</th>
      <th>price</th>
      <th>url</th>
      <th>lat</th>
      <th>lon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>madrid</td>
      <td>bmw</td>
      <td>r_1200_gs</td>
      <td>trail</td>
      <td>1170.0</td>
      <td>rojo</td>
      <td>57400.0</td>
      <td>2004</td>
      <td>7490</td>
      <td>http://motos.net/ocasion/bmw/r_1200_gs/2004-en...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
    </tr>
    <tr>
      <th>1</th>
      <td>madrid</td>
      <td>ducati</td>
      <td>monster_696+</td>
      <td>naked</td>
      <td>696.0</td>
      <td>blanco</td>
      <td>18166.0</td>
      <td>2011</td>
      <td>5999</td>
      <td>http://motos.net/ocasion/ducati/monster_696/20...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
    </tr>
    <tr>
      <th>2</th>
      <td>madrid</td>
      <td>kymco</td>
      <td>super_dink_300i_abs</td>
      <td>scooters_+125cc</td>
      <td>299.0</td>
      <td>blanco</td>
      <td>9644.0</td>
      <td>2011</td>
      <td>3299</td>
      <td>http://motos.net/ocasion/kymco/super_dink_300i...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
    </tr>
    <tr>
      <th>3</th>
      <td>madrid</td>
      <td>kymco</td>
      <td>xciting_250</td>
      <td>scooters_+125cc</td>
      <td>249.0</td>
      <td>gris</td>
      <td>38100.0</td>
      <td>2006</td>
      <td>1150</td>
      <td>http://motos.net/ocasion/kymco/xciting_250/200...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
    </tr>
    <tr>
      <th>4</th>
      <td>madrid</td>
      <td>bmw</td>
      <td>f_800_r</td>
      <td>naked</td>
      <td>800.0</td>
      <td>not specified</td>
      <td>2800.0</td>
      <td>2016</td>
      <td>8500</td>
      <td>http://motos.net/ocasion/bmw/f_800_r/2016-en-m...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
    </tr>
  </tbody>
</table>
</div>

Now, we are going to add another column, brand_score, with the score of the brand.

Above we said that we had scraped a website to obtain a ranking of brands. 
Now is when we are going to use that data. <span style="color:dba368">**scraped_data/rank_moto_brands.csv**</span>.

<span style="color:red">We are faced here with the problem that not all brands in our dataframe appear in the ranking. 
So, to those that not appear in the ranking,we will give a score value of zero by default.</span>

Note: we have manualy modified the ranking obtained by doing the scraping, to adjust some brands according to our criteria.
Feel free to modify the file. The modified file is called <span style="color:dba368">**scraped_data/rank_moto_brands_plus.csv**</span>.

In [21]:
#We have scraped a web to obtain a simple brand rank. 
#We have it in the fodler named scraped_data and is called rank_moto_brands.csv
#Nevertheless, not all the brands in the adds appear in it. So, first of all, we are going to add the ones that are missing.
brands_in_df_list = df_motos_raw_coord.brand.unique()
df_rank_moto_brand = pd.read_csv('scraped_data/rank_moto_brands_plus.csv', sep=';')
rank_values = df_rank_moto_brand.values.tolist()
brands_rank_values =  df_rank_moto_brand.brand.values
for df_brand in brands_in_df_list:
    if df_brand not in brands_rank_values:
        rank_values.append([df_brand,0])
df_rank_moto_brands = pd.DataFrame(rank_values, columns=['brand', 'brand_score'])

In [22]:
df_rank_moto_brands.tail()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>brand</th>
      <th>brand_score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>159</th>
      <td>hsun</td>
      <td>0</td>
    </tr>
    <tr>
      <th>160</th>
      <td>dak</td>
      <td>0</td>
    </tr>
    <tr>
      <th>161</th>
      <td>xingyue</td>
      <td>0</td>
    </tr>
    <tr>
      <th>162</th>
      <td>cfmoto</td>
      <td>0</td>
    </tr>
    <tr>
      <th>163</th>
      <td>lectric</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

So, now we need to merge df_motos_raw_coord with df_rank_moto_brands in order to add the new column called brand_score

In [24]:
df_motos_raw_coord_brand = pd.merge(df_motos_raw_coord, df_rank_moto_brands, on = 'brand', how = 'left')
df_motos_raw_coord_brand.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>brand</th>
      <th>model</th>
      <th>type</th>
      <th>cc</th>
      <th>color</th>
      <th>km</th>
      <th>year</th>
      <th>price</th>
      <th>url</th>
      <th>lat</th>
      <th>lon</th>
      <th>brand_score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>madrid</td>
      <td>bmw</td>
      <td>r_1200_gs</td>
      <td>trail</td>
      <td>1170.0</td>
      <td>rojo</td>
      <td>57400.0</td>
      <td>2004</td>
      <td>7490</td>
      <td>http://motos.net/ocasion/bmw/r_1200_gs/2004-en...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
      <td>356</td>
    </tr>
    <tr>
      <th>1</th>
      <td>madrid</td>
      <td>ducati</td>
      <td>monster_696+</td>
      <td>naked</td>
      <td>696.0</td>
      <td>blanco</td>
      <td>18166.0</td>
      <td>2011</td>
      <td>5999</td>
      <td>http://motos.net/ocasion/ducati/monster_696/20...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
      <td>473</td>
    </tr>
    <tr>
      <th>2</th>
      <td>madrid</td>
      <td>kymco</td>
      <td>super_dink_300i_abs</td>
      <td>scooters_+125cc</td>
      <td>299.0</td>
      <td>blanco</td>
      <td>9644.0</td>
      <td>2011</td>
      <td>3299</td>
      <td>http://motos.net/ocasion/kymco/super_dink_300i...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
      <td>37</td>
    </tr>
    <tr>
      <th>3</th>
      <td>madrid</td>
      <td>kymco</td>
      <td>xciting_250</td>
      <td>scooters_+125cc</td>
      <td>249.0</td>
      <td>gris</td>
      <td>38100.0</td>
      <td>2006</td>
      <td>1150</td>
      <td>http://motos.net/ocasion/kymco/xciting_250/200...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
      <td>37</td>
    </tr>
    <tr>
      <th>4</th>
      <td>madrid</td>
      <td>bmw</td>
      <td>f_800_r</td>
      <td>naked</td>
      <td>800.0</td>
      <td>not specified</td>
      <td>2800.0</td>
      <td>2016</td>
      <td>8500</td>
      <td>http://motos.net/ocasion/bmw/f_800_r/2016-en-m...</td>
      <td>40.416705</td>
      <td>-3.703582</td>
      <td>356</td>
    </tr>
  </tbody>
</table>
</div>

Now, we are going to add another column, type_score, with the score of the type of the motorcycle.

For this porpuse, we have created a csv file with a rank of the types called <span style="color:dba368">**rank_moto_types.csv**</span>.

We have builded this rank manually. First we heve obtained the motorcycle types and then we have assigned each one a score, at our discretion.
Feel free again to modify the file.

In [25]:
# With the second one, rank_moto_types.csv, we are going to create another column, with a score to the corresponding type
df_rank_moto_type = pd.read_csv('auxiliary_data/rank_moto_types.csv', sep=';')
df_motos_raw_coord_brand_types = pd.merge(df_motos_raw_coord_brand, df_rank_moto_type, on = 'type', how = 'left')
#Save into a csv
df_motos_raw_coord_brand_types.to_csv('app/static/data/df_motos_raw_coord_brand_type.csv', index = False)

OK!, so now we have our motorcyles ads database in the path  <span style="color:dba368">**app/static/data/df_motos_raw_coord_brand_type.csv**</span>.

This will simulate the data as if it were in any database management system.

Now that we have our data properly prepared, we need to build our recommender.

We have created a python class called recommender_class.py. Its in the next path app/recommender_class.py

Notes about the recommender_class: